<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="webjars/jquery/3.3.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>

    <script th:src="@{/js/user/user.js}" src="js/user/user.js"></script>
    <script src="assets/vendors/base/vendors.bundle.js" th:src="@{/assets/vendors/base/vendors.bundle.js}"
            type="text/javascript"></script>
    <script src="assets/demo/default/base/scripts.bundle.js" th:src="@{/assets/demo/default/base/scripts.bundle.js}"
            type="text/javascript"></script>
    <script src="webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.js"
            th:src="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.js}"></script>
</head>
<body>
<table id="userTable" data-toggle="table"></table>
</body>
</html>