<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="metaHead(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="http://fdn.geekzu.org/ajax/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {'families':['Poppins:300,400,500,600,700','Roboto:300,400,500,600,700']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    <link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css"
          th:href="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors -->
    <link href="assets/vendors/base/vendors.bundle.css" th:href="@{/assets/vendors/base/vendors.bundle.css}"
          rel="stylesheet" type="text/css"/>
    <link href="assets/demo/default/base/style.bundle.css" th:href="@{/assets/demo/default/base/style.bundle.css}"
          rel="stylesheet" type="text/css"/>
    <link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css"/>
    <!--end::Base Styles -->
    <link rel="shortcut icon" th:href="@{/assets/demo/default/media/img/logo/favicon.ico}"
          href="assets/demo/default/media/img/logo/favicon.ico"/>
    <link  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link  th:href="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css}"
           href="webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <link  th:href="@{/css/common.css}"
           href="css/common.css" rel="stylesheet" type="text/css"/>
</head>